<div class="row">
  <div class="col-sm-6 col-sm-offset-3 opaque_bg">
    <h1 class="large light_text">Stats about your <span class="neon_green">Gists</span></h1>
    <h1>
      <%= link_to "Sign in with Github", "users/auth/github" %>
      <br>or<br>
      Enter a <span class="neon_green">Gist</span> ID to try it out:
      <%= form_tag(gists_path) do %>
        <%= text_field_tag "id", nil, id: "id_entry" %>
      <% end %>
    </h1>
  </div>
</div>

<script>
  $('#id_entry').focus();
</script>
