<div class="left_triangle"></div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 orange_gradient">
    <h1 class="large light_text">Stats about your Gists</h1>
    <h1>
      Sign in with Github
      <br>or<br>
      Enter a Gist ID to try it out:
      <input id="id_entry">
    </h1>
  </div>
</div>


