/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*-----Backgrounds----------Backgrounds----------Backgrounds----------Backgrounds----------Backgrounds-----*/

body {
 background: url(ocean_gradient.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.left_triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 750px 250px 0 0;
  border-color: #aaa transparent transparent transparent;
  position: absolute;
  top:0px;
  opacity: 0.3;
  z-index: -1;
}

.orange_gradient {
 background: url(orange_gradient.jpg) no-repeat center center fixed;
}

/*-----Text----------Text----------Text----------Text----------Text----------Text----------Text----------Text-----*/

.light_text {
  color: #EFFFF9;
}

.neon_green{
  color: #CBF035
}

.large {
  font-size: 55px;
}


/*-----Forms----------Forms----------Forms----------Forms----------Forms----------Forms----------Forms-----*/

#id_entry {
  color: white;
  outline: 0;
  border: 0;
  border-bottom: 1px solid black;
  width: 115px;
  background: none;
}
