/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

p.notice, p.alert {
  color: white;
  padding-left: 10px;
}

form {
  display: inline
}

li {
  list-style-type: none;
}

/*-----Backgrounds----------Backgrounds----------Backgrounds----------Backgrounds----------Backgrounds-----*/

body {
 background: url(ocean_gradient.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.left_triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 750px 250px 0 0;
  border-color: #aaa transparent transparent transparent;
  position: absolute;
  top:0px;
  opacity: 0.3;
  z-index: -1;
}

.opaque_bg {
  background-color: rgba(255, 255, 255, 0.2);
}

.stats {
  word-wrap:break-word;
}

/*-----Text----------Text----------Text----------Text----------Text----------Text----------Text----------Text-----*/

.light_text {
  color: #EFFFF9;
}

.neon_green{
  color: #CBF035
}

.orange_icon:before {
  color: #ff673f
}

.large {
  font-size: 55px;
}

#site_title {
  font-size: 45px;
  padding-left: 10px;
}

.big_icon:before {
  width: 32px;
  height: 32px;
  font-size: 32px;
  padding: 10px;
}

.big_icon {
  color: #fff;
}

.big_icon:hover {
  color: #CBF035;
  text-decoration: none;
}

.icon_text {
  margin-left: 35px;
  line-height: 32px;
  color:transparent;
}

.stat_num {
  font-size: 55px;
  color: #CBF035;
  font-weight: bold;
}

.stat_text {
  font-family: monospace;
  font-size: 20px;
}

.gist_file {
  margin-top: 10px;
}

/*-----Forms----------Forms----------Forms----------Forms----------Forms----------Forms----------Forms-----*/

#id_entry {
  color: white;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #fff;
  width: 115px;
  background: none;
}
